This notebook is just for scratchwork to test out python syntax.

In [1]:
import pandas as pd

path='/Users/lisacombs/Documents/BIGDATA/lab-3-spark-lcombs/tracks.csv'

data = pd.read_csv(path, header=None, names = ['track_id', 'name', 'genre', 'year', 'duration', 'artist_id'])
data.head()

,track_id,name,genre,year,duration,artist_id
0,TRAAAAK128F9318786,Scream,Adelitas Way,2009,213.94240,ARJNIUY12298900C91
1,TRAAAAV128F421A322,A Poor Recipe For Civic Cohesion,Cognicide,2005,118.07302,AR73AIO1187B9AD57B
2,TRAAACN128F9355673,Hit Da Scene,A Bad Azz Mix Tape IV,0,252.94322,AR9Q9YC1187FB5609B
3,TRAAADZ128F9348C2E,Amor De Cabaret,Las Numero 1 De La Sonora Santanera,0,177.47546,ARKRRTF1187B9984DA
4,TRAAAEA128F935A30D,I'll Slap Your Face (Entertainment USA Theme),Vile Pervert - The Music,2001,129.85424,ARSVTNL1187B992A91

In [2]:
users = pd.Series(data['artist_id'].unique()).tolist()
len(users)

33922

In [3]:
from random import sample 

temp=sample(users, int(len(users)*0.6) )
train=data[data['artist_id'].isin(temp)]# all interactions
test_val=data[~data['artist_id'].isin(temp)]

In [4]:
users = pd.Series(test_val['artist_id'].unique()).tolist()
temp=sample(users, int(len(users)*0.5) )
test=test_val[test_val['artist_id'].isin(temp)]# all interactions
val=test_val[~test_val['artist_id'].isin(temp)]

In [5]:
len(users)

13569

In [6]:
len(temp)

6784

In [7]:
len(pd.Series(test['artist_id'].unique()).tolist())

6784

In [8]:
len(pd.Series(val['artist_id'].unique()).tolist())

6785

In [9]:
#https://stackoverflow.com/questions/22472213/python-random-selection-per-group
# 
temp=test.groupby('artist_id').apply(lambda x: x.sample(frac=0.5)).reset_index(drop=True)
len(temp['artist_id'].unique())

5768

In [10]:
len(test['artist_id'].unique())

6784

In [11]:
len(test[test['artist_id'] == 'AR5DHN51187B9B9363'])

0

In [12]:
len(temp[temp['artist_id'] == 'AR5DHN51187B9B9363'])

0

In [13]:
temp[['track_id','artist_id']].groupby('artist_id').count()

                    track_id
artist_id
AR5DF6K1187B98F545        12
AR5DLGF1187B9AF012         2
AR5DU2E1187B9A49C8         2
AR5E2M81187B9A9042         4
AR5E44Z1187B9A1D74        13
...                      ...
ARZZMWO1187B9AFB36        16
ARZZPGX11E2835E8FA         1
ARZZQZQ12509411C96         2
ARZZRK91187B9A5CA5        14
ARZZVPC125FEF3238D         3

[5768 rows x 1 columns]

In [14]:
test[['track_id','artist_id']].groupby('artist_id').count()

                    track_id
artist_id
AR5DF6K1187B98F545        24
AR5DLGF1187B9AF012         5
AR5DU2E1187B9A49C8         5
AR5E2M81187B9A9042         7
AR5E44Z1187B9A1D74        26
...                      ...
ARZZPGX11E2835E8FA         2
ARZZQZQ12509411C96         4
ARZZRK91187B9A5CA5        28
ARZZVPC125FEF3238D         6
ARZZWAU11F4C8459EA         1

[6784 rows x 1 columns]

In [24]:
len(temp[temp['artist_id'] == 'ARZZWAU11F4C8459EA'])

0

In [25]:
len(test[test['artist_id'] == 'ARZZWAU11F4C8459EA'])

1

In [26]:
# how many artists have one track?
tracks_per_artist = test[['track_id','artist_id']].groupby('artist_id').count()
len(tracks_per_artist[tracks_per_artist['track_id'] <= 1])

1016

In [28]:
6784-1016 # OK - do we want to subset before instead?

5768

In [19]:
temp

,track_id,name,genre,year,duration,artist_id
0,TRCMRSB128F93445AF,Ristinolla,Romeo ja Julia,1995,259.29098,AR5DF6K1187B98F545
1,TRWZNWR128F93445AD,Alla Koivupuun,Romeo ja Julia,1995,208.92689,AR5DF6K1187B98F545
2,TRTIZMG128F9344579,Say I Do,The 4th Dimension,2000,208.66567,AR5DF6K1187B98F545
3,TRQCBMF128F934467C,Ikävöin,3. aste,1997,275.95710,AR5DF6K1187B98F545
4,TRCBGYM128F93446CF,Mikä - Movetron,Soittorasia,1996,226.76853,AR5DF6K1187B98F545
...,...,...,...,...,...,...
29658,TRIJUQB128F92FBF41,Rain From The Skies,Step It Up Youthman,1969,170.10893,ARZZRK91187B9A5CA5
29659,TRRTJPN128F92F69D1,I'm Still Waiting,Reggae Chartbusters Vol. 6,1976,314.06975,ARZZRK91187B9A5CA5
29660,TRNZLMJ128F93108DC,Piume di cristallo,Il disordine delle cose,2009,236.38159,ARZZVPC125FEF3238D
29661,TRDROWL128F93108D5,Muscoli di carta,Il disordine delle cose,2009,186.51383,ARZZVPC125FEF3238D
29662,TRQRUZM128F93108D9,L'astronauta,Il disordine delle cose,2009,238.54975,ARZZVPC125FEF3238D

In [29]:
keys = list(temp.columns.values)
keys

['track_id', 'name', 'genre', 'year', 'duration', 'artist_id']

In [30]:
i1 = test.set_index(keys).index
i2 = temp.set_index(keys).index
test[~i1.isin(i2)]

,track_id,name,genre,year,duration,artist_id
17,TRAABHP128F427AEC8,Siempre Ana,Nómada,2002,234.63138,ARE6D0Y119B8667D9F
20,TRAABOW128F42418FB,Hoergeraete,Schimmern,2006,120.99873,ARCJXB41187FB442AD
70,TRAAERS128F14A5562,The Castle (LP Version),Da Capo,0,180.71465,AR9F8TH1187B9B5A83
86,TRAAFHL128F933386A,Las 2:00,Ansiedad,0,181.23710,ARTEOIV11C8A417A4E
88,TRAAFON128F42926FB,Rosemary Recalls,The Man from Snowy River,1985,84.03546,ARRC2JF1187B9B6A93
...,...,...,...,...,...,...
299951,TRZZWXF128F42920D8,I Missed Me,Greatest Hits,1966,152.76363,ARZVTZN1187FB579D4
299966,TRZZYGY128F931CC54,Sans issue,Rouge rêve,0,206.60200,ARRKC4R1187B99A4D9
299987,TRZZZHL128F423C536,Crazy Love (Album Version),Moondance,1970,156.83873,ARNAQSX1187B9ADBE4
299989,TRZZZIP128F92D7F80,Three Piece Swing,Pow Wow Plus,1992,180.87138,ARCDGHG1187B9B17D8
299994,TRZZZUM128F424188C,Cause Equal TIme,Live at Lollapalooza 2006: Broken Social Scene,0,353.77587,ARUNAM11187B98B490

In [1]:
print("The best model was trained with rank = %d and lambda = %.1f, " % (4.2, 4) + "and its RMSE on the test set is %f." % (0.81))

The best model was trained with rank = 4 and lambda = 4.0, and its RMSE on the test set is 0.810000.